@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*,
::before,
::after {
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}
*,
::before,
::after {
  box-sizing: border-box;
}
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  background-color: #efe0e0;
}

.name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.text {
  font-size: 12vw;
  line-height: 1.25;
  font-weight: 900;
  font-style: italic;
  text-shadow: -0.1ch 0 hsla(0, 75%, 60%, 0.75),
    0.1ch 0 hsla(180, 75%, 60%, 0.75);
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 28vw;
  }
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  margin-top: -10vw;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 8px;
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.5),
    8px 8px 16px rgba(167, 157, 157, 0.5);
}

p,
pre {
  margin: 0px;
}
.card {
  font-weight: 800;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5rem;
}
#fill {
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}

.links {
  font-weight: 800;
  font-size: 2rem;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: black;
  text-decoration: underline;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footerlink {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
}

.emailfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 48rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #efe0e0;
}

.emaillink {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button {
  border-radius: 0.25rem;
  font-weight: 600;
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  outline: none;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #000;
  color: #fff;
}
