@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }
}
